<div class="container py-5">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 15rem;">
                <a routerLink="/maintenance/users">
                    <img src="https://upcdemoimg.s3.us-east-2.amazonaws.com/icon/user_icon.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <p class="card-text">Mantenimiento de usuarios: Usted puede registrar, modificar y eliminar los usuarios que pueden ingresar al portal</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 15rem;">
                <a routerLink="/maintenance/products">
                    <img src="https://upcdemoimg.s3.us-east-2.amazonaws.com/icon/product_icon.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                  <p class="card-text">Mantenimiento de productos: Usted puede registrar, modificar y eliminar los productos que se muestran en el portal</p>
                </div>
              </div>
        </div>
    </div>
</div>